<!DOCTYPE html>
<html>
<head>
<style>
p { 
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
}

</style>
<body>
“Programming:
I have worked on creating a database which handles a fair amount of information.

Voice Acting: 
I have not yet done anything worthwhile in this area, apart from working on improving my voice.”

</body>
</head>
</DOCTYPE>